<a href="https://colab.research.google.com/github/Hatreck1/Progra-III-2025/blob/main/Introduccion%20a%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
print("Bienvenidos chicos a programacion computacional III")

Hola mundo
Bienvenidos chicos a programacion computacional III

In [ ]:
nombre = "Gilberto Lizama"
edad = 5
print(nombre,edad)

edad = "cinco"
print("Tu edad: ", edad)

Gilberto Lizama 5
Tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print("la suma es: ", suma)

num1: 5
num2: 2
la suma es:  7.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 - num2
print("la resta es: ", suma)

num1: 5
num2: 5
la resta es:  0.0

**TIPOS DE DATOS EN PYTHON**

In [ ]:
#entero
num1 = 6
print(num1, "Esto es un entero")
print(str(num1) + "Esto es un entero")

#decimmal
num2 = 7.5
print(num2, "Esto es un decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Gilberto Lizama"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un entero
6Esto es un entero
7.5 Esto es un decimal
True Esto es un booleano
Dime una cadena: hola
Dime un valor: 4
Gilberto Lizama Esto es una cadena hola
Gilberto Lizama Letra inicial G Un valor especifico r rango Gilb Comenzar desde el final a
rto Lizama Gilb
<class 'str'>

In [ ]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 02:04:21.506176 2025-07-29 02:04:21.506176
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 29-04-1995
1995-04-29 00:00:00

**FUNCIONES EN PYTHON**

In [ ]:
#Suma
def suma(num1, num2):
  return num1 + num2

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 6
Num2: 6
La suma es:  12.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de las funciones, que reste dos numeros introducidos por el usuario. TAREA.

In [ ]:
#Resta
def resta(num1, num2):
  return num1 - num2

num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 5
Num2: 3
La resta es:  2.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a Farenheit.
def celsiusFarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c: "))
f = celsiusFarenheit(c)
print("F: ", f)

Grados c: 10
F:  50.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Farenheit a Celsius.
def farenheitCelsius(f):
  return (f-32) * 5/9

f = float(input("F: "))
c = farenheitCelsius(f)
print("C: ", c)

F: 100
C:  37.77777777777778

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Celsius a Kelvin.
def celsiusKelvin(c):
  return c + 273.15

c = float(input("C: "))
k = celsiusKelvin(c)
print("K: ", k)

C: 10
K:  283.15

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule
#el sueldo de un empleado, segun el numero de hrs trabajas y el valor por hora
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Hrs: "))
valorXhr = float(input("Valor Xhr: "))
sueldo = sueldo(numHrs, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
Valor Xhr: 10
Sueldo:  2400.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un numero a un exponente
def expoenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = expoenciacion(b,e)
print("El Numero: ", b, ", elevado a ",e, ", el resultado es: ", resultado)

Base: 8
Exponente: 3
El Numero:  8.0 , elevado a  3.0 , el resultado es:  512.0

**FUNCIONES ANONIMAS**

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

Num1: 10
Num2: 10
La suma es:  20.0

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

Num1: 15
Num2: 15
La suma de  15.0  mas b  15.0  es igual  30.0

**FUNCIONES PRECONSTRUIDAS**

In [ ]:
def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 2
[4, 16, 36, 64, 49, 81]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:10
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [ ]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 5,2,8,1,9
Pares:  ['2', '8']
Impares:  ['5', '1', '9']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [ ]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pasan = filter(lambda num: int(num) >=6, serieUser)
no_pasan = filter(lambda num: int(num) <6, serieUser)

print("Pasan: ",list(pasan))
print("No pasan: ", list(no_pasan))

Serie: 1,5,6,2,7,8,9
Pasan:  ['6', '7', '8', '9']
No pasan:  ['1', '5', '2']

In [1]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda num, acum: acum + num if num%2==0 else 0, numeros) #pendiente de revisar...

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13

**TUPLAS**

In [2]:
tupla = (5,2,3,7,8,5)
#tupla[0] = 1
print("Tupla: ", tupla, "Primer elemento: ", tupla[0], "El numero 5 parece ", tupla.count(5))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:5])

Tupla:  (5, 2, 3, 7, 8, 5) Primer elemento:  5 El numero 5 parece  2
Ultimo elemento:  5
Rango:  (5, 2, 3, 7, 8)

In [3]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado")
meses = ("", "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "del", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Lunes 18 del Agosto del 2025
2025-08-18 1 Lunes
18 8 2025

**LISTAS**

In [4]:
lista = [5,8,9,4, "Progra III", True, [4,8,9, [8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [5]:
def calcularPromedio(nota, notas):
  return notas[1]*notas[2] + nota # 8*0.3 + 9*0.3 + 10*0.3

In [6]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I, haciendo uso de las listas y de las funciones.
from functools import reduce

notas = [["Lab1", 8, 0.3], ["Lab2", 9, 0.3], ["Parcial", 10, 0.4]]
prom = reduce(calcularPromedio, notas, 0)
print("Nota Final: ", prom)

Nota Final:  9.1

**EJERCICIOS PRACTICOS**

1- Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto.

In [25]:
def calcular_deducciones(sueldo_bruto, base_isr="gravable", metodo_isr="plano"):
    # Deducciones porcentuales
    isss_porcentaje = 0.03
    afp_porcentaje = 0.0625

    # Cálculo de ISSS y AFP
    isss = sueldo_bruto * isss_porcentaje
    afp = sueldo_bruto * afp_porcentaje

    # Base para ISR: "bruto" o "gravable" (bruto - isss - afp)
    base = sueldo_bruto if base_isr == "bruto" else (sueldo_bruto - isss - afp)

    # Rangos (según lo que pediste)
    limites = (550.00, 895.24, 2038.10)

    def tasa_por_rango(valor):
        if valor <= limites[0]:
            return 0.0
        elif valor <= limites[1]:
            return 0.10
        elif valor <= limites[2]:
            return 0.20
        else:
            return 0.30

    if metodo_isr == "plano":
        # Aplica el % al TOTAL de la base según el rango
        tasa = tasa_por_rango(base)
        isr = base * tasa
        tramo = f"{int(tasa*100)}% aplicado a toda la base"
    elif metodo_isr == "exceso":
        # Aplica el % solo al EXCESO del límite inferior
        if base <= limites[0]:
            isr = 0.0
            tramo = "Exento"
        elif base <= limites[1]:
            isr = (base - limites[0]) * 0.10
            tramo = "10% sobre exceso de 550.00"
        elif base <= limites[2]:
            isr = (limites[1] - limites[0]) * 0.10 + (base - limites[1]) * 0.20
            tramo = "10% exceso 550.00 + 20% exceso 895.24"
        else:
            isr = ((limites[1] - limites[0]) * 0.10 +
                   (limites[2] - limites[1]) * 0.20 +
                   (base - limites[2]) * 0.30)
            tramo = "10% exceso 550.00 + 20% exceso 895.24 + 30% exceso 2038.10"
    else:
        raise ValueError('metodo_isr debe ser "plano" o "exceso"')

    total_deducciones = isss + afp + isr
    sueldo_neto = sueldo_bruto - total_deducciones

    return isss, afp, isr, total_deducciones, sueldo_neto, tramo, base


# --- Ejemplo con 620, como tú quieres (10% de toda la base) ---
sueldo_bruto = float(input("Ingrese el sueldo: "))
isss, afp, isr, total, neto, tramo, base = calcular_deducciones(
    sueldo_bruto,
    base_isr="gravable",   # usa sueldo - isss - afp como base
    metodo_isr="plano"     # 10%/20%/30% de TODA la base
)

print("Deducciones por ley:")
print(f"ISSS: ${isss:.2f}")
print(f"AFP: ${afp:.2f}")
print(f"Base ISR: ${base:.2f}")
print(f"ISR: ${isr:.2f}  ({tramo})")
print(f"Total Deducciones: ${total:.2f}")
print(f"Sueldo Neto: ${neto:.2f}")

Ingrese el sueldo: 620
Deducciones por ley:
ISSS: $18.60
AFP: $38.75
Base ISR: $562.65
ISR: $56.27  (10% aplicado a toda la base)
Total Deducciones: $113.61
Sueldo Neto: $506.38

2- Calcular el valor a pagar según el número de metros consumidos de agua potable

In [28]:
def calcular_tarifa_agua(metros_consumidos):
    if metros_consumidos <= 0:
        return "No se puede calcular con un valor negativo o cero."
    elif metros_consumidos <= 18:
        return 6.00
    elif 19 <= metros_consumidos <= 28:
        return 6.00 + (metros_consumidos - 18) * 0.45
    else:
        return 6.00 + (28 - 18) * 0.45 + (metros_consumidos - 28) * 0.65

# Solicitar al usuario el número de metros consumidos
try:
    metros_consumidos = float(input("Ingresa el número de metros de agua consumidos: "))
    tarifa = calcular_tarifa_agua(metros_consumidos)

    if isinstance(tarifa, str):
        print(tarifa)
    else:
        print(f"El total del valor a pagar es: ${tarifa:.2f}")

except ValueError:
    print("Por favor, ingresa un número válido.")

Ingresa el número de metros de agua consumidos: 19
El total del valor a pagar es: $6.45

3- Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos.

In [29]:
#meses acumulados con ciclo
def meses_acumulados(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

while True:
    try:
        n = int(input("Ingresa el número de meses para calcular la tabla acumulada: "))
        if n > 0:
            break
        else:
            print("Por favor, ingresa un número positivo.")
    except ValueError:
        print("Por favor, ingresa un número entero válido.")

tabla_acumulada = meses_acumulados(n)

print(f"\nTabla de meses acumulados para {n} meses:")
for i, valor in enumerate(tabla_acumulada, start=1):
    print(f"Mes {i}: {valor}")

Ingresa el número de meses para calcular la tabla acumulada: 10

Tabla de meses acumulados para 10 meses:
Mes 1: 1
Mes 2: 3
Mes 3: 6
Mes 4: 10
Mes 5: 15
Mes 6: 21
Mes 7: 28
Mes 8: 36
Mes 9: 45
Mes 10: 55

In [30]:
#Meses acumulados sin ciclos
def calcular_valor_acumulado(n):
    return (n * (n + 1)) // 2

def imprimir_tabla(n):
    # Usamos la fórmula para calcular y mostrar cada valor sin usar ciclos
    def imprimir_mes(i):
        if i > n:
            return
        valor = calcular_valor_acumulado(i)
        print(f"Mes {i}: {valor}")
        imprimir_mes(i + 1)

    imprimir_mes(1)

def pedir_numero():
    try:
        n = int(input("Ingresa el número de meses para calcular la tabla acumulada: "))
        if n > 0:
            return n
        else:
            print("Por favor, ingresa un número positivo.")
            return pedir_numero()
    except ValueError:
        print("Por favor, ingresa un número entero válido.")
        return pedir_numero()

# Obtener el número de meses válido
n = pedir_numero()

# Imprimir la tabla acumulada
print(f"\nTabla de meses acumulados para {n} meses:")
imprimir_tabla(n)

Ingresa el número de meses para calcular la tabla acumulada: 10

Tabla de meses acumulados para 10 meses:
Mes 1: 1
Mes 2: 3
Mes 3: 6
Mes 4: 10
Mes 5: 15
Mes 6: 21
Mes 7: 28
Mes 8: 36
Mes 9: 45
Mes 10: 55

4- Conversores: (40%) (10 ítems como mínimo por cada uno) • Monedas (Resuelto en clases) • Longitud • Masa • Almacenamiento • Tiempo • Volumen • Área

**MONEDA**

In [ ]:
#MONEDAS
import re

def convertir_moneda(valor, moneda_origen, moneda_destino):
    tasas_de_cambio = {
        'dolar': 1,
        'euro': 0.92,
        'quetzal': 7.86,
        'lempira': 24.62,
        'cordoba': 36.56,
        'colonsv': 8.75,
        'coloncr': 535.14,
        'yenes': 145.52,
        'rupias indias': 83.32,
        'libras esterlinas': 0.79,
    }

    try:
        tasa_origen = tasas_de_cambio[moneda_origen]
        tasa_destino = tasas_de_cambio[moneda_destino]
        return valor * (tasa_origen / tasa_destino)
    except KeyError:
        raise ValueError("Moneda de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las monedas como texto sin números
    moneda_origen = input("Ingrese la moneda de origen: ").strip().lower()
    if not es_alfabetico(moneda_origen):
        raise ValueError("La moneda de origen debe contener solo letras y espacios.")

    moneda_destino = input("Ingrese la moneda de destino: ").strip().lower()
    if not es_alfabetico(moneda_destino):
        raise ValueError("La moneda de destino debe contener solo letras y espacios.")

    resultado = convertir_moneda(valor, moneda_origen, moneda_destino)
    print(f"{valor} {moneda_destino} son {resultado:.2f} {moneda_origen}")

except ValueError as e:
    print(f"Error: {e}")

**LONGITUD**

In [ ]:
#Longitud
def convertir_longitud(valor, unidad_origen, unidad_destino):
    unidades = {
        'metros': 1.0,
        'kilometros': 1000.0,
        'centimetros': 0.01,
        'milimetros': 0.001,
        'micrometros': 1e-6,
        'nanometros': 1e-9,
        'millas': 1609.34,
        'yardas': 0.9144,
        'pies': 0.3048,
        'pulgadas': 0.0254,
    }

    try:
        factor_origen = unidades[unidad_origen]
        factor_destino = unidades[unidad_destino]
        return valor * factor_origen / factor_destino
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z]+$", texto))

try:
    # Validación solo numeros
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar numeros válidos.")
    valor = float(valor_input)

    # Validación escribir letras, no numeros
    unidad_origen = input("Digite la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Digite la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_longitud(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

**MASA**

In [ ]:
#Masa
#{1, 0.453592, 453.592, 0.000453592, 453592, 453600000, 0.000446429, 0.0005, 0.0714286, 16}, //Masa
def convertir_masa(valor, unidad_origen, unidad_destino):
    unidades_de_masa = {
        'libra': 1,
        'kilogramo': 0.453592,
        'gramo': 453.592,
        'tonelada': 0.000453592,
        'miligramo': 453592,
        'microgramo': 453600000,
        'tonelada larga': 0.000446429,
        'tonelada corta': 0.0005,
        'stone': 0.0714286,
        'onza': 16
    }

    try:
        tasa_origen_a_destino = unidades_de_masa[unidad_destino] / unidades_de_masa[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_masa(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

**ALMACENAMIENTO**

In [ ]:
#almacenamiento
def convertir_almacenamiento(valor, unidad_origen, unidad_destino):
    unidades = {
        'byte': 1,
        'kilobyte': 0.001,
        'megabyte': 0.000001,
        'gigabyte': 0.000000001,
        'terabyte': 0.000000000001,
        'petabyte': 0.000000000000001,
        'exabyte': 0.000000000000000001,
        'zettabyte': 0.000000000000000000001,
        'yottabyte': 0.000000000000000000000001,
        'bit': 0.125
    }

    try:
        factor_origen = unidades[unidad_origen]
        factor_destino = unidades[unidad_destino]
        return valor * factor_origen / factor_destino
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Digite la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Digite la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_almacenamiento(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

**TIEMPO**

In [ ]:
#tiempo
# {1, 60, 0.0166667, 0.000694444, 0.000099206, 0.000022831, 0.0000019026, 0.00000019026, 0.00000001903, 60000}, //Tiempo,
def convertir_tiempo(valor, unidad_origen, unidad_destino):
    unidades_de_tiempo = {
        'minuto': 1,
        'segundo': 60,
        'hora': 0.0166667,
        'dia': 0.000694444,
        'semana': 0.000099206,
        'mes': 0.000022831,
        'año':0.0000019026 ,
        'decada': 0.00000001903,
        'siglo': 0.00000001903,
        'milisegundo': 60000
    }

    try:
        tasa_origen_a_destino = unidades_de_tiempo[unidad_destino] / unidades_de_tiempo[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_tiempo(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

**VOLUMEN**

In [ ]:
#Volumen
#{1, 0.264172, 1.05669, 2.11338, 4.16667, 33.814, 67.628, 202.884, 0.001, 1000},
def convertir_volumen(valor, unidad_origen, unidad_destino):
    unidades_de_volumen = {
        'litro': 1,
        'galon usa': 0.264172,
        'cuarto usa': 1.05669,
        'pinta usa': 2.11338,
        'taza usa': 4.16667,
        'onza liquida': 33.814,
        'cuchara usa':67.628 ,
        'cucharadita usa': 202.884,
        'metro cubico': 0.001,
        'milimetro': 1000
    }

    try:
        tasa_origen_a_destino = unidades_de_volumen[unidad_destino] / unidades_de_volumen[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_volumen(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

**AREA**

In [ ]:
#Area
import re
def convertir_area(valor, unidad_origen, unidad_destino):
    unidades_de_area = {
        'manzanas': 1,
        'tareas': 16,
        'metro cuadrado': 7000,
        'vara cuadrada': 10000,
        'yarda cuadrada':  8371.93,
        'pie cuadrado': 75.207,
        'hectareas': 0.70,
        'acre':1.729738,
        'milla cuadrada': 0.002702715,
        'pie cuadrado': 75347.37
    }

    try:
        tasa_origen_a_destino = unidades_de_area[unidad_destino] / unidades_de_area[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_area(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

5-Realizar un conversor propio, donde especifiqué el valor de conversión:

In [3]:
#Conversor propio de galletas Chips ahoy

def convertir_unidades_a_paquetes(unidades):
    # Convierte unidades a paquetes de galletas Chips Ahoy
    paquetes = unidades / 12
    return paquetes

def convertir_paquetes_a_unidades(paquetes):
    # Convierte paquetes de galletas Chips Ahoy a unidades
    unidades = paquetes * 12
    return unidades

def main():
    print("Conversor de unidades a cajas y paquetes de galletas Chips Ahoy")
    while True:
        print("\nOpciones:")
        print("1. Convertir unidades a paquetes de galletas Chips Ahoy")
        print("2. Convertir paquetes de galletas Chips Ahoy a unidades")
        print("3. Salir")

        opcion = input("Elige una opción (1-3): ")

        if opcion == "1":
            unidades = float(input("Ingresa la cantidad de unidades: "))
            print(f"{unidades} unidades son equivalentes a {convertir_unidades_a_paquetes(unidades)} paquetes de galletas Chips Ahoy.")

        elif opcion == "2":
            paquetes = float(input("Ingresa la cantidad de paquetes de galletas Chips Ahoy: "))
            print(f"{paquetes} paquetes de galletas Chips Ahoy son equivalentes a {convertir_paquetes_a_unidades(paquetes)} unidades.")

        elif opcion == "3":
            print("¡Hasta luego!")
            break

        else:
            print("Opción no válida. Inténtalo de nuevo.")

if __name__ == "__main__":
    main()

Conversor de unidades a cajas y paquetes de galletas Chips Ahoy

Opciones:
1. Convertir unidades a paquetes de galletas Chips Ahoy
2. Convertir paquetes de galletas Chips Ahoy a unidades
3. Salir
Elige una opción (1-3): 4
Opción no válida. Inténtalo de nuevo.

Opciones:
1. Convertir unidades a paquetes de galletas Chips Ahoy
2. Convertir paquetes de galletas Chips Ahoy a unidades
3. Salir
Elige una opción (1-3): 3
¡Hasta luego!