<a href="https://colab.research.google.com/github/Hatreck1/Progra-III-2025/blob/main/Introduccion%20a%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
print("Bienvenidos chicos a programacion computacional III")

Hola mundo
Bienvenidos chicos a programacion computacional III

In [ ]:
nombre = "Gilberto Lizama"
edad = 5
print(nombre,edad)

edad = "cinco"
print("Tu edad: ", edad)

Gilberto Lizama 5
Tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print("la suma es: ", suma)

num1: 5
num2: 2
la suma es:  7.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 - num2
print("la resta es: ", suma)

num1: 5
num2: 5
la resta es:  0.0

**TIPOS DE DATOS EN PYTHON**

In [8]:
#entero
num1 = 6
print(num1, "Esto es un entero")
print(str(num1) + "Esto es un entero")

#decimmal
num2 = 7.5
print(num2, "Esto es un decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Gilberto Lizama"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un entero
6Esto es un entero
7.5 Esto es un decimal
True Esto es un booleano
Dime una cadena: hola
Dime un valor: 4
Gilberto Lizama Esto es una cadena hola
Gilberto Lizama Letra inicial G Un valor especifico r rango Gilb Comenzar desde el final a
rto Lizama Gilb
<class 'str'>

In [10]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 02:04:21.506176 2025-07-29 02:04:21.506176
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 29-04-1995
1995-04-29 00:00:00

**FUNCIONES EN PYTHON**

In [14]:
#Suma
def suma(num1, num2):
  return num1 + num2

In [13]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [15]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 6
Num2: 6
La suma es:  12.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de las funciones, que reste dos numeros introducidos por el usuario. TAREA.